/* Empty file for template. Remember to edit only this file and not the HTML file */

:root {
  --color-background: #dadbf8;
  --color-main: #f9f4ff;
}

body {
  background-color: var(--color-background);
  margin: 0;
}

header {
  display: flex;
  height: 60vh;
  background-color: var(--color-main);
  background-image: url("/images/main-wisteria.png");
  background-repeat: no-repeat;
  /* border: 1px solid red; */
}

h1 {
  font-family: "Courier New", Courier, monospace;
}

h2 {
  /* font-family: sans-serif; */
}

h3 {
  font-size: 37px;
}

p {
  font-size: 30px;
}

.summary {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  border: 2px solid green;
}

.summary p {
  /* align-self: center; */
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  /* font-size: 30px; */
  height: 266px;
  background-color: var(--color-main);
}

.summary p:nth-of-type(2) {
  order: -1;
  width: 502px;
  border: 2px solid blue;
}

.summary p:first-of-type {
  width: 843px;
  border: 2px solid red;
}

.sidebar {
  border: 2px solid blue;
  font-size: 28px;
  /* width: 590px; */
  margin-left: 5%;
  padding: 0;
  display: flex;
  position: absolute;
  top: 1006px;
}

.design-selection,
.design-archives,
.zen-resources {
  display: flex;
  flex-direction: column;
  width: 501px;
  border-radius: 20px;
  /* margin-bottom: 10%; */
  margin: 10px;
  padding: 20px;
  background-color: var(--color-main);
  /* border: 2px solid yellow; */
}

/* .preamble {
  border: 2px solid orange;
  margin-bottom: 0px;

  width: 843px;
  background-color: var(--color-main);
  border-bottom: 1px solid var(--color-main);
  padding: 20px;
  margin-left: 710px;
} */

#zen-supporting,
.preamble {
  /* background-color: var(--color-main);
  width: 843px;
  margin-top: 0px;
  border-top: 1px solid var(--color-main);
  border: 2px solid green;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 720px;
  background-color: var(--color-main);
  border-radius: 20px; */
}

.preamble,
.explanation,
.participation,
.benefits,
.requirements {
  /* margin: 0 0 2px 226px; */
  background-color: var(--color-main);
  /* border-radius: 20px; */

  width: 843px;
  margin-top: 0px;
  border-top: 1px solid var(--color-main);
  border: 2px solid green;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 720px;
  background-color: var(--color-main);
  border-radius: 20px;
}

.requirements p:nth-child(6) {
 /* text-align: center; */
 /* background-position: 0px top; */
 /* display: block; */
 display: flex;
 justify-content: center;
 align-items: center;
 width: 1345px;
 height: 263px;
 /* margin: 0 0 0 -10px; */
 /* padding: 25px 80px 0px 80px; */
 border: 2px solid red;
}

footer {
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 660px;
  height: 20px;
  /* text-align: center; */
  margin-top: 0;
  margin-bottom: 0;
  /* margin-left: 40%; */
}