/* Empty file for template. Remember to edit only this file and not the HTML file */

:root {
  --color-background: #dadbf8;
  --color-main: #f9f4ff;
  --color-text: #4a186e;
  --color-hr: #9d9bb3;
}

body {
  background-color: var(--color-background);
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: flex-end;
  padding-bottom: 8%;
  height: 60vh;
  background-color: var(--color-main);
  background-image: url("/images/main-wisteria.png");
  background-repeat: no-repeat;
  background-size: contain;
  /* position: relative; */
  border: 2px solid turquoise;
}

header h1,
h2 {
  border: 3px solid goldenrod;
  font-weight: normal;
  align-self: flex-end;
  /* width: 65%; */
  width: 55%;
}

h1 {
  /* font-family: ; */
  font-size: 90px;
}

h2 {
  /* font-family: sans-serif; */
  font-size: 40px;
}

h3 {
  font-size: 37px;
  /* font-family: 'Inika'; */
  /* border: 2px solid greenyellow; */
}

p {
  font-size: 30px;
}

a {
  color: var(--color-text);
}

#zen-summary {
  border: 2px solid red;
  display: flex;
  /* justify-content: flex-end; */
  padding: 0%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.summary p {
  /* align-self: center; */
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  font-size: 30px;
  height: 266px;
  background-color: var(--color-main);
}

.summary p:nth-of-type(2) {
  order: -1;
  /* width: 500px; */
  width: 30%;
  border: 2px solid blue;
}

.summary p:first-of-type {
  /* width: 843px; */
  width: 50%;
  border: 2px solid green;
}

.sidebar {
  /* border: 2px solid hotpink; */
  font-size: 28px;
  padding: 0px;
  position: absolute;
  /* top: 980px; */
  top: 129%;
  height: auto;
  /* width: 574px; */
  width: 33%;
  margin-left: 4%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
  /* padding: 20px; */
  /* border: 2px solid brown; */
}

.design-selection ul,
.design-archives ul,
.zen-resources ul {
  padding-left: 0;
  color: var(--color-text);
  /* border: 2px solid green; */
}

/* .select::after {
  color: transparent;
} */

.design-name {
  font-weight: bold;
}

.sidebar li a:first-child {
  display: block;
}

.sidebar li {
  list-style: none;
  padding-left: 13%;
  position: relative;
  /* border: 2px solid pink; */
  padding-top: 5%;
  padding-bottom: 5%;
  border-bottom: 5px solid var(--color-hr);
}

.sidebar li::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 0%;
  width: 58px;
  height: 45px;
  background-image: url(images/flower2.png);
  opacity: 0.7;
  background-size: cover;
  background-repeat: no-repeat;
  /* border: 2px solid red; */
  /* background-color: blue; */
}

.design-selection,
.design-archives,
.zen-resources {
  display: flex;
  flex-direction: column;
  /* width: 480px; */
  border-radius: 20px;
  padding: 5%;
  background-color: var(--color-main);
  /* border: 2px solid blue; */
}

.supporting h3 {
  position: relative;
}

.supporting h3::after {
  content: "";
  background-image: url(images/flower3.png);
  opacity: 0.7;
  position: absolute;
  top: -20px;
  /* right: -10px; */
  right: -3px;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 2px solid pink; */
}

.preamble,
#zen-supporting {
  border: 2px solid orange;
  width: 41%;
  border-top: 1px solid var(--color-main);
  padding: 5%;
  margin-left: 45%;
  background-color: var(--color-main);
  border-radius: 20px;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  /* position: relative; */
}

#zen-preamble {
  border-radius: 20px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  /* border-bottom: none; */
}

div {
  position: relative;
}

/* .preamble {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
} */

.preamble,
.explanation,
.participation,
.benefits,
.requirements {
  /* width: 843px; */
  margin-top: 0px;
  /* border-top: 1px solid var(--color-main); */
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  /* margin-left: 720px; */
  border-bottom: 20px solid var(--color-hr);
  /* border: 2px solid green; */
}

/* .requirements p:nth-child(6) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1345px;
  height: 263px;
  border: 2px solid red;
} */

.requirements p:nth-of-type(5) {
  position: relative;
  /* margin-top: 20px; */
  /* bottom: 20px; */
  left: 0;
  width: auto;
  text-align: center;
  /* padding: 10px; */
  transform: translateY(200%);
  border: 2px solid gold;
}

footer {
  position: relative;
  width: auto;
  text-align: center;
  transform: translateY(50%);
  /* height: 20px; */
  /* margin-top: 0; */
  border: 2px solid green;
}
